@import "../../../variables";

.filters-section {
    display: flex;
    flex-direction: column;
    background-color: $theme-light-color;
    width: 20%;
    height: 100%;
    padding: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    gap: 1rem;

    justify-content: center;
    align-items: flex-start;

    article {
        display: flex;
        flex-direction: column;

        gap: 1rem;

        h3 {
            width: 233.28px;
            height: 35.76px;
        }
    
        button {
            display: flex;
            align-items: flex-start;
            flex-direction: flex;
            padding: 0.5rem 0.5rem;
            width: 50%;
     
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: $theme-dark-color;
         
            background: $theme-light-color;
            border: none; 
            border-radius: 0.5rem;
         
            cursor: pointer;
            transition: all ease-in-out 250ms;
         
            &:hover {
                background: #fff;
            }
        }
    } 
}