@import "./../../../../variables";

.feed-proyects-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .proyects {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}