@import "../../../../variables";

.container {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 0;
    border: 0;

    .profile-section {
        display: flex;
        flex-direction: column;

        padding: 2rem;
        gap: 1rem;

        width: auto;
        height: auto;
        min-height: 60vh;

        background: $theme-light-color;

        border-radius: 20px 0px 0px 20px;

        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: black;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: black;
        }
    }

    .info-section {
        display: flex;
        flex-direction: column;

        border-style: none none none solid;
        border-width: 2px;
        border-color: gray;

        width: auto;
        height: auto;
        min-height: 60vh;

        background: $theme-light-color;

        border-radius: 0px 20px 20px 0px;

        h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 22px;
            font-weight: 600;
            color: black;
        }

        h3 {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: blue;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: black;
        }

        .preference-section {
            display: flex;
            flex-direction: column;
            
            min-height: 50%;

            padding: 2rem;
            gap: 1rem;
        }

        .projects-section {
            display: flex;
            flex-direction: column;

            min-height: 50%;
            
            padding: 2rem;
            gap: 1rem;

            border-style: solid none none none;
            border-width: 2px;
            border-color: gray;
        }
    }
 
}
