@import "./../../variables";
 
.Footer {
  padding: 1rem;
 
  background: $theme-header-footer-color;
  color: $theme-light-plus-color;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}