@import "./../../../variables";

.container {
    display: flex;
    flex-direction: column;
    /* background-color: $theme-light-color; */
    width: 80%;
    margin: 0 0 0 3.5rem;
    flex-wrap: nowrap;
    gap: 1.5rem;
}