@import './../../variables';

.Button {
    padding: 0.5rem 1rem;
 
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: $theme-dark-color;
 
    background: $theme-light-color;
    border: none;
    border-radius: 0.5rem;
 
    cursor: pointer;
    transition: all ease-in-out 250ms;
 
    &:hover{
      transform: scale(1.05) rotateZ(2deg);
    }
}