@import "./../../../../variables";

.search-bar {
    

    input {
        background-color: $theme-light-color;
        border: 0;
        border-radius: 1rem 0 0 1rem;
        /* border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; */
        padding: 1rem;
        height: 20px;
        width: 70%;
        font-size: 13px;
    }

    .search-inputs {
        display: flex;
    }

    .search-icon {
        height: 32px;
        width: 40px;
        background-color: $theme-light-color;
        display: grid;
        place-items: center;
        border-radius: 0rem 1rem 1rem 0;
    }

    input:focus {
        outline: none;
    }
}